@import url("https://fonts.googleapis.com/css2?family=Capriola&family=East+Sea+Dokdo&family=Karantina:wght@300;400;700&family=Metal+Mania&family=Montserrat+Subrayada:wght@400;700&family=Mouse+Memoirs&family=Rajdhani:wght@300;500;600&family=Road+Rage&display=swap");


/*===========FONT===========*/
// Font family
$ff-1: "Capriola", sans-serif;

$ff-2: "East Sea Dokdo", cursive;

$ff-3: "Karantina", cursive;

$ff-4: "Metal Mania", cursive;

$ff-5: "Montserrat Subrayada", sans-serif;

$ff-6: "Mouse Memoirs", sans-serif;

$ff-7: "Road Rage", cursive;
// Font size
$title-fs: 3rem;
$subtitle-fs:1.8rem;
$nav-fs:1.4rem;

//Font weight
$weight-5: 500;
$weight-6: 600;
$weight-7: 700;
$weight-8: 800;
$weight-9: 900;

/*==========COLORS==============*/
$almost-black: #090909;
$almost-white: #eeeeee;
$grey: #6e6e6e;
$dark-grey: #343434;
$light-grey: #afafaf;
