@import url("https://fonts.googleapis.com/css2?family=Capriola&family=East+Sea+Dokdo&family=Karantina:wght@300;400;700&family=Metal+Mania&family=Montserrat+Subrayada:wght@400;700&family=Mouse+Memoirs&family=Rajdhani:wght@300;500;600&family=Road+Rage&display=swap");
/*===========FONT===========*/
/*==========COLORS==============*/
.logo-image {
  max-width: 100%;
  max-height: auto;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99;
  top: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  color: #090909;
  background: #afafaf;
  font-family: sans-serif;
}

.logo-container {
  max-width: 250px;
  height: auto;
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
  margin-left: 1.5em;
}

.logo-image {
  position: absolute;
  top: -2.5em;
  left: 1em;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation: spin 4s backwards linear;
          animation: spin 4s backwards linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    left: 120em;
    top: -3.5em;
  }
  to {
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    left: 1em;
    top: -2.5em;
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    left: 120em;
    top: -3.5em;
  }
  to {
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    left: 1em;
    top: -2.5em;
  }
}

.banner {
  -ms-grid-column: 3;
  -ms-grid-column-span: 9;
  grid-column: 3/12;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.banner .banner-title {
  -webkit-text-fill-color: transparent;
  margin: 0.5em 0 0 6em;
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 3rem;
  -webkit-animation: shine 3s linear 2s forwards,  displayTitle 0.001s linear 3.5s forwards;
          animation: shine 3s linear 2s forwards,  displayTitle 0.001s linear 3.5s forwards;
}

.banner .banner-slogan {
  margin: 3em 0 0 15em;
  font-family: "Montserrat Subrayada", sans-serif;
}

.nav-header {
  grid-column: 11 / auto;
  -ms-grid-row: 4;
  grid-row: 4;
}

.nav-header ul {
  list-style-type: none;
}

.nav-header ul li {
  display: inline;
  margin: 1em;
}

.nav-header ul a {
  text-decoration: none;
}

.nav-header a {
  color: #090909;
  font-size: 1.4em;
  font-weight: 600;
}

@-webkit-keyframes displayTitle {
  from {
    -webkit-text-fill-color: transparent;
  }
  to {
    -webkit-text-fill-color: black;
  }
}

@keyframes displayTitle {
  from {
    -webkit-text-fill-color: transparent;
  }
  to {
    -webkit-text-fill-color: black;
  }
}

@-webkit-keyframes shine {
  0% {
    background: -webkit-gradient(linear, left top, right top, from(#afafaf), color-stop(#343434), to(black));
    background: linear-gradient(90deg, #afafaf, #343434, black);
    -webkit-background-clip: text;
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-x: 500%;
  }
  100% {
    background-position-x: -500%;
  }
}

@keyframes shine {
  0% {
    background: -webkit-gradient(linear, left top, right top, from(#afafaf), color-stop(#343434), to(black));
    background: linear-gradient(90deg, #afafaf, #343434, black);
    -webkit-background-clip: text;
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-x: 500%;
  }
  100% {
    background-position-x: -500%;
  }
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5em;
  font-family: sans-serif;
  background: #afafaf;
}

.footer-item-link {
  text-decoration: none;
  color: #090909;
  font-weight: 600;
}

.footer-item-mid {
  text-align: center;
  line-height: 1.1em;
}

#bb {
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.aside {
  position: relative;
  left: 0;
  padding: 2em 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  text-align: center;
  line-height: 3em;
}

.aside img {
  width: 50%;
}

.aside img:hover {
  -webkit-animation: moveImage forwards 3s ease;
          animation: moveImage forwards 3s ease;
}

h1,
h2 {
  font-family: "Montserrat Subrayada", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.2rem;
}

@-webkit-keyframes moveImage {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    width: 50%;
  }
  to {
    -webkit-transform: translate(16em, -7em);
            transform: translate(16em, -7em);
    width: 95%;
  }
}

@keyframes moveImage {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    width: 50%;
  }
  to {
    -webkit-transform: translate(16em, -7em);
            transform: translate(16em, -7em);
    width: 95%;
  }
}

.home {
  width: 70%;
  padding: 2em 3em;
  line-height: 3em;
  text-align: center;
  margin-left: 3em;
}

.text-who-are-we {
  line-height: 1.5em;
}

.text-who-are-we span {
  font-weight: 800;
  line-height: 2.2em;
  font-size: 1.3em;
  font-family: "Montserrat Subrayada", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10em 0 4em 0;
  background: #090909;
  color: #eeeeee;
  font-family: sans-serif;
}
/*# sourceMappingURL=index.css.map */